<div class="row">

<div [ngClass]="showOutlet ? 'col-sm-8' : 'col-sm-12'">
  <p-dataGrid [value]="files" emptyMessage="You don't have any files yet.">
    <ng-template let-file pTemplate="gridItem">
      <app-file-grid-item [file]="file" [contextMenu]="cm" [icon]="iconClassForFile(file)" (fileSelected)="fileSelected($event)">
      </app-file-grid-item>
    </ng-template>
  </p-dataGrid>
</div>

<p-contextMenu #cm [target]="griditem" [model]="items" appendTo="body"></p-contextMenu>

<div [hidden]="!showOutlet" class="col-sm-4">
  <!--style="border-left-style: solid;"-->
  <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
</div>

</div>
