<div class="file-edit-title">Edit '<strong>{{file?.name}}</strong>'</div>
<div class="lock-file-button">
  <p-toggleButton onLabel="File locked" offLabel="Lock file" onIcon="pi pi-check" offIcon="fa fa-lock"
                  (onChange)="toggleLock($event)" [disabled]="disableLockButton" [(ngModel)]="checked"></p-toggleButton>
  <span>{{toggleLockText}}</span>
</div>
<div class="col-12 text-area-wrapper">
    <textarea class="content-textarea" #file_content_area pInputTextarea [(ngModel)]="fileContent"
              [rows]="5" [cols]="120" [readonly]="textareaDisabled" autoResize="autoResize" (input)="textareaInputChange()"
              (click)="textareaCaretChange()" (keyup)="textareaCaretChange()"
    ></textarea>
</div>
<div>
  <button class="btn btn-lg btn-primary" [disabled]="textareaDisabled" (click)="submitEdit()">Submit</button>
</div>
