.title-center {
  text-align: center;
  display: table;
  margin: 0 auto;
}

.main-outlet {
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  .main-outlet {
    margin-left: 20px;
  }
}
