<div style="float: right">
  <button class="btn btn-sm btn-info" (click)="close()">X</button>
</div>
<ng-template #loading>Loading the file details...</ng-template>
<div *ngIf="file; let file; else loading">
  <p-card>
    <div class="ui-card-title">
      {{file.fileName}}
      <i class="fa fa-edit edit-icon" pTooltip="Edit the filename or description" tooltipPosition="left"
         (click)="op.toggle($event)"></i>
    </div>
    <p><strong>Owner:</strong> {{file.owner.username}} </p>
    <p><strong>Size:</strong> {{file.size | sizeFormat}} </p>
    <p><strong>Content type:</strong> {{file.mimeType || 'unknown'}} </p>
    <p><strong>Created:</strong> {{file.dateCreated | date:'medium'}} </p>
    <p><strong>Last modified:</strong> {{file.dateModified | date:'medium'}} </p>
    <p-accordion>
      <p-accordionTab header="Description">
        {{file.description}}
      </p-accordionTab>
    </p-accordion>
    <br>
    <p-dataScroller *ngIf="ownedFile()" [value]="sharedWith" [rows]="10">
      <p-header>
        Share with:
        <p-autoComplete [(ngModel)]="currentUser" [suggestions]="results" (completeMethod)="search($event)"
                        field="username">
        </p-autoComplete>
        <button class="btn btn-xs btn-primary" (click)="share()">Share</button>
      </p-header>
      <ng-template let-user pTemplate="item" let-i="index">
        <div class="row" style="margin-bottom: 5px;">
          <div class="col-9 col-md-9">
            {{user.username}}
          </div>
          <div class="col-3 col-md-3">
            <button class="btn btn-xs btn-danger" (click)="unshare(user.id, index)">Remove</button>
          </div>
        </div>
      </ng-template>
    </p-dataScroller>
  </p-card>
</div>

<p-overlayPanel #op appendTo="body">
  <form #editForm="ngForm" (ngSubmit)="onEditSubmit(editForm)" novalidate>
    <div class="form-group">
      <label for="filename">File name</label>
      <input type="text" class="form-control" name="fileName" ngModel required #filename="ngModel" [ngModel]="file?.fileName">
    </div>

    <div *ngIf="!filename?.valid && (filename?.dirty || filename?.touched)" class="alert alert-danger">
      <div [hidden]="!filename.errors.required">
        File name is required
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea form="editForm" class="form-control" name="description" ngModel #description="ngModel" [ngModel]="file?.description"></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-sm" value="Submit" type="submit" [disabled]="!editForm.valid">Submit</button>
    </div>
  </form>

</p-overlayPanel>
