<ul class="list-group">
  <li class="link-highlight list-group-item list-group-item-action">
    <a [routerLink]="['register']"><strong>Register</strong></a>
    <a href="javascript:void(0);" class="toggle-menu-button icon" (click)="toggleMenu()" [hidden]="!smallScreen">&#9776;</a>
  </li>
  <li *ngIf="showMenu && !loggedIn" class="list-group-item list-group-item-action"><a [routerLink]="['login']">Login</a></li>
  <li *ngIf="showMenu && loggedIn" class="list-group-item list-group-item-action"><a [routerLink]="['account']">Account</a></li>
  <li *ngIf="showMenu && loggedIn" class="list-group-item list-group-item-action"><a [routerLink]="['files']">Files</a></li>
  <li *ngIf="showMenu" class="list-group-item list-group-item-action"><a [routerLink]="['about']">About</a></li>
</ul>
